.range-slider {
  width: 100%;
  text-align: center;
  position: relative;
}
.rangeValues {
    display: block;
  }
input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 100%;
  position: absolute;
  left: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
  margin-top: -4px;
    cursor: pointer;
      position: relative;
    z-index: 1;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
  
}


/*hide the outline behind the border*/

input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
    z-index: -4;

}

input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}

input[type=range]:focus::-ms-fill-lower {
  background: #888;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}

.remove-icon-main {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #fff;
    width: 27px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    border-radius: 3px;
    z-index: 5;
}

.features #parsley-id-multiple-features {
    position: absolute;
    top: 17px;
}
.features{
    position: relative;
}
.date-sec-main{ display: flex;}
.date-main { margin: 0px 10px; text-decoration: none; border: 1px solid #000; padding: 8px 20px; border-radius: 10px; color: #000; }
.date-main:hover{ color: #000000;}
.date-main p { margin-bottom: 0px; text-align: center;}
a.select-date{ border: 1px solid #E56F31; color: #E56F31; }
/*.Choose-service-date-main{ background-color: #F2F2F2; padding: 20px; margin-top: 25px; margin-bottom: 20px; }*/
.Choose-service-date-main h4{  font-size: 18px; font-weight: bold; }
.pick-slot-main h4{  font-size: 18px; margin: 20px 0px; }
.pick-slot-main h4 span{ color: #ccc; font-size: 15px;}
.afternoon-slot-btn{ background-color: unset;  border: 1px solid #000; width: 100%; height: 45px; color: #000; font-weight: bold; }
.afternoon-slot-active{background-color: rgba(229,  111, 49, 0.3);  border: 1px solid #E56F31; width: 100%; height: 45px; color: #E56F31; font-weight: bold; }
.afternoon-slot-sec-main{ margin: 25px 0px; border-bottom: 2px dashed rgba(0, 0, 0, 0.4); padding-bottom: 25px; }
.afternoon-slot-sec-main h4{ padding-bottom: 20px;}
.afternoon-slot-sec-main h4 span{ color: #000; background-color:rgba(229,  111, 49, 0.3); font-size: 15px; padding: 3px 0px 3px 3px; margin-right: 5px;}
.evening-slot-btn{ background-color: unset;  border: 1px solid #000; width: 100%; height: 45px; color: #000; font-weight: bold; }
.evening-slot-active{background-color: rgba(229,  111, 49, 0.3);  border: 1px solid #E56F31; width: 100%; height: 45px; color: #E56F31; font-weight: bold; }
.evening-slot-sec-main{ margin: 25px 0px; border-bottom: 2px dashed rgba(0, 0, 0, 0.4); padding-bottom: 25px; }
.evening-slot-sec-main h4{ padding-bottom: 20px;}
.evening-slot-sec-main h4 span{ color: #000; background-color:rgba(229,  111, 49, 0.3); font-size: 15px; padding: 3px 0px 3px 3px; margin-right: 5px;}